<div class="container">
<div class="row" style="justify-content:center">
<div class="col-lg-8 text-center">
<br>
<br>
<h1 class="construction" style="text-transform:uppercase">under <span style="color:#7ab37f">construction</span></h1>
<img src="~/content/img/enconstruccion2.png" style="width:80%">
</div>
</div>

</div>