
MaSysAgro/.vs/MaSysAgro/config/applicationhost.config
MaSysAgro/.vs/MaSysAgro/config/applicationhost.config
MaSysAgro/ClsDatSysAgro/obj/Debug/ClsDatSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsDatSysAgro/obj/Debug/ClsDatSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsDatSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/ClsModSysAgro/obj/Debug/ClsModSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsModSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/ClsNegSysAgro/obj/Debug/ClsNegSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsNegSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/MaSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/MaSysAgro/obj/Debug/Utilerias.csproj.AssemblyReference.cache
MaSysAgro/ClsDatSysAgro/obj/Debug/ClsDatSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsDatSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/ClsModSysAgro/obj/Debug/ClsModSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsModSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/ClsNegSysAgro/obj/Debug/ClsNegSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsNegSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/MaSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/MaSysAgro/obj/Debug/Utilerias.csproj.AssemblyReference.cache
MaSysAgro/ClsDatSysAgro/obj/Debug/ClsDatSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsDatSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/ClsModSysAgro/obj/Debug/ClsModSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsModSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/ClsNegSysAgro/obj/Debug/ClsNegSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsNegSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/MaSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/MaSysAgro/obj/Debug/Utilerias.csproj.AssemblyReference.cache
MaSysAgro/SysAgroWeb/obj/Debug/SysAgroWeb.csproj.FileListAbsolute.txt
MaSysAgro/SysAgroWeb/obj/Debug/SysAgroWeb.csproj.CoreCompileInputs.cache
MaSysAgro/SysAgroWeb/obj/Debug/SysAgroWeb.csproj.AssemblyReference.cache
MaSysAgro/SysAgroWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
