
MaSysAgro/.vs/MaSysAgro/config/applicationhost.config
MaSysAgro/.vs/MaSysAgro/config/applicationhost.config
MaSysAgro/ClsDatSysAgro/obj/Debug/ClsDatSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsDatSysAgro/obj/Debug/ClsDatSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsDatSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/ClsModSysAgro/obj/Debug/ClsModSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsModSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/ClsNegSysAgro/obj/Debug/ClsNegSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsNegSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/MaSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/MaSysAgro/obj/Debug/Utilerias.csproj.AssemblyReference.cache
MaSysAgro/ClsDatSysAgro/obj/Debug/ClsDatSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsDatSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/ClsModSysAgro/obj/Debug/ClsModSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsModSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/ClsNegSysAgro/obj/Debug/ClsNegSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsNegSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/MaSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/MaSysAgro/obj/Debug/Utilerias.csproj.AssemblyReference.cache
MaSysAgro/ClsDatSysAgro/obj/Debug/ClsDatSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsDatSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/ClsModSysAgro/obj/Debug/ClsModSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsModSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/ClsNegSysAgro/obj/Debug/ClsNegSysAgro.csproj.AssemblyReference.cache
MaSysAgro/ClsNegSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/MaSysAgro/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/MaSysAgro/obj/Debug/Utilerias.csproj.AssemblyReference.cache
MaSysAgro/SysAgroWeb/obj/Debug/SysAgroWeb.csproj.FileListAbsolute.txt
MaSysAgro/SysAgroWeb/obj/Debug/SysAgroWeb.csproj.CoreCompileInputs.cache
MaSysAgro/SysAgroWeb/obj/Debug/SysAgroWeb.csproj.AssemblyReference.cache
MaSysAgro/SysAgroWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/.vs/MaSysAgro/config/applicationhost.config
MaSysAgro/.vs/MaSysAgro/config/applicationhost.config
MaSysAgro/.vs/MaSysAgro/v16/.suo
MaSysAgro/ClsModSysAgro/bin/Debug/ClsModSysAgro.dll
MaSysAgro/ClsModSysAgro/bin/Debug/ClsModSysAgro.pdb
MaSysAgro/ClsModSysAgro/bin/Release/ClsModSysAgro.dll
MaSysAgro/ClsModSysAgro/bin/Release/ClsModSysAgro.pdb
MaSysAgro/ClsModSysAgro/obj/Debug/ClsModSysAgro.dll
MaSysAgro/ClsModSysAgro/obj/Debug/ClsModSysAgro.pdb
MaSysAgro/ClsModSysAgro/obj/Release/ClsModSysAgro.csproj.CoreCompileInputs.cache
MaSysAgro/ClsModSysAgro/obj/Release/ClsModSysAgro.dll
MaSysAgro/ClsModSysAgro/obj/Release/ClsModSysAgro.pdb
MaSysAgro/ClsModSysAgro/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
MaSysAgro/SysAgroAp/bin/ClsModSysAgro.dll
MaSysAgro/SysAgroAp/bin/ClsNegSysAgro.dll
